<div class="container mt-5 mb-5">

    <img src="" width="70%">
    <h1 class="about"> DISCOVER THE NATURAL<br/>
        BEAUTY OF  INDIAN CRUISE</h1>
    <p class="discover"> Exploring the landscapes of India is not just confined to the land but also covers the vast and magnificent water bodies. Travelling through rivers is a very enriching experience where you experience a strange sense of tranquility as you take in the glorious beauty around. Several places in India allow you the luxury of cruising through water watching the diverse flora and fauna that surrounds you. These luxurious rides offer the most unforgettable and intimate travel experience.</p>

</div>
